<?xml version="1.0"?>
<log4net>
	<appender name="RollingFile" type="log4net.Appender.FileAppender">
		<file value=".\Log\Midas.Net.log" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-5p %d{hh:mm:ss} %message%newline" />
		</layout>
	</appender>

	<appender name="AdoNetAppender" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
		<bufferSize value="1" />
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data" />
		<connectionStringName value="log4net" />
		<connectionStringFile value="appsettings.json" />
		<commandText value="INSERT INTO QR_LOG ([DATETIME],[GUID],[LOGTEXT],[ORIGIN],[URI], [HEADER], [TYPE], [USER_ORIGIN], [STATUS_CODE], [BODY]) VALUES (@datetime, @guid, @logtext, @origin, @uri ,@header ,@type, @user_origin, @status_code, @body )" />
		<parameter>
			<parameterName value="@datetime" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
		</parameter>
		<parameter>
			<parameterName value="@guid" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{Guid}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logtext" />
			<dbType value="String" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{LogText}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@origin" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{Origin}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@uri" />
			<dbType value="String" />
			<size value="500" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{Uri}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@header" />
			<dbType value="String" />
			<size value="500" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{Header}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@type" />
			<dbType value="String" />
			<size value="500" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{Type}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@user_origin" />
			<dbType value="String" />
			<size value="500" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{UserOrigin}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@status_code" />
			<dbType value="String" />
			<size value="500" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{StatusCode}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@body" />
			<dbType value="String" />
			<size value="500" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{Body}" />
			</layout>
		</parameter>
	</appender>
	<root>
		<level value="ERROR" />
		<appender-ref ref="RollingFile" />
	</root>
</log4net>